body{
    background-color: #181818;
    
    
 
}

*{
    margin:0;
    padding: 0;
}
.wrapper{
    background-image: url"(109672.jpg.)" no-repeat ;
    background-size: cover;
    height: 100vh;
    

}
.navbar{
width: 100%;
height: 80px;
background:rgba(#181818);
opacity: 0.8;
animation: ihalanav 1s ease-out;



}

.navbar ul{
float: right;
margin-right: 20px;

}
.navbar ul li {
    list-style: none;
    margin: 0 8px;
    display:inline-block;
    line-height: 80px;

}
.navbar ul li a {

    text-decoration: none;
    color: white;
    font-size:20px;
    font-family:'Roboto', 'sans-serif';
    padding:6px 13px;
    transition: .4s;
    
}
.navbar ul li a.active,
.navbar ul li a:hover{
    background: rgb(111, 1, 255);
    border-radius:2px ;
}
.logo{
    width: 160px;
    height: auto;
    padding: 7px 80px;
    animation: logok 1s ease-out;

}
.center h1{
   
    color:white;
   text-shadow: black 0.1em 0.1em 0.2em;
    font-size: 50px;
    font-weight: bold;
    width: 700ox;
    margin-top: 235px;
    text-align: center;
    animation: letra1 1s ease-out;
   
}
.center h2{
    color:white;
    text-shadow: black 0.1em 0.1em 0.2em;
    font-size: 50px;
    font-weight: bold;
    width: 850ox;
    margin-top: 5px;
    text-align: center;
    animation: letra1 1s ease-out;
}


.container{
    position:absolute;
    top: 50%;
    left: 50px;
    transform: translate(-50%,-50%);
}
.centro {
    margin: 0 auto;
    width: 200px;
    perspective: 1000px;
  }
  .bot {
      position: absolute;

    cursor: hand;
    text-transform: uppercase;
    background-color: #920d0d;
    color: white;
    font-weight: 500;
    border: none;
    padding: 1em 3em;
    margin: 43em auto;
    border-radius: 15px;
    display: block;  
    left: 13px;
   top: -170px;
   text-decoration:none; 

   
  /*  transition: background .5s ease-in, transform .5s .25s ease-in-out;*/
    transition: background .6s ease-in, transform .5s .25s ease-in-out;
    animation: kkquadrado 1s ease-out;
  }
  .bot:hover {
    background-color: #e9104a;
  /*  transform: scale(1.2);*/
    transform: scale(1.2) rotateX(30deg);
  }
  #cabecalho{
    background-color: #181818;
    
 
  
    padding: 40px 38px;
    color: rgb(0, 0, 0);
    bottom: 100px;

  }
 #pao{
   
     background: white;
     padding-top: 800px;
    
     
     
     
 }
 .pc{
    width: 700px;
    height: 700px;
    padding: 10px 30px;
    position: relative;
    bottom: 350px;
    right: 150px;
    animation: pca 1s ease-out;
       
    


 }

     
 @keyframes pca {
    0%   {
        transform: translateX(-1000px);
    }
   
    100%{transform: translateX(0);}
   
  }
  
  .pc3{
    width: 700px;
    height: 700px;
    padding: 10px 30px;
    position: relative;
    bottom: 350px;
    right: 5px;
    left: 250px;
    animation: pcbig 1s ease-out;
       
  }
  @keyframes pcbig {
    0%   {
        transform: translateX(1000px);
    }
   
    100%{transform: translateX(0);}
   
  }
  .center h1{
      padding-left: -80px;
  }
  .center h2{
    padding-left: -80px;
}
@keyframes letra1 {
    0%{opacity: 0;;}
    0%   {
        
        transform: translateY(350px);
    }
  
   
    100%{transform: translateX(0);}
    100%{opacity: 100;}
  }
  @keyframes kkquadrado {
    0%{opacity: 0;;}
    0%   {
        
        transform: translateY(350px);
    }
  
   
    100%{transform: translateX(0);}
    100%{opacity: 100;}
  
}
@keyframes ihalanav {
    0%   {
        
        transform: translateX(2000px);
    }
  
   
    100%{transform: translateX(0);}
    
  
}
@keyframes logok {
    0%   {
        
        transform: translateX(-3500px);
    }
  
   
    100%{transform: translateX(0);}
    
  
}
.pao12{
   
  
    position: relative;
    width: 100%;
    min-width: auto;
    height: auto;
    min-height: 100px;
    
    background-color: #fff;
    background-image: -webkit-linear-gradient(30deg, #fff 60%, #2b2b2b 40%);
    

}
